*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid black;
  margin: 0;
  color-scheme: ;
  padding: 0;
  box-sizing: border-box;  
}
.weather-card{
  /* border: 1px solid black; */
  padding: 2rem;
  max-width: 700px;
  height: 400px;
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.weather-side{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-radius: 40px;
background: #fafafa;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.info-side{
  height: 30%;
  border-radius: 40px;
background: #fafafa;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.today{
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.clima-icono{
  display: flex;
  justify-content: center;
  align-items: center;
}
.grados{
  margin: auto;
  font-size: 5rem;
}
.iconoclima{
  width: 100px;
  height: 100px;
}
img{
  width: 100%;
}
/* .lugar{} */
.humedadyviento
{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  width: 30%;
  
}
.humedad{
  width: ;
}
.week{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.week-cont{
display: flex;
gap: 10px;
}
.day{
  text-align: center;
}