<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css.css" />
  </head>
  <body>
    <div class="weather-card">
      <div class="weather-side">
        <div class="today">
          <div class="clima-icono">
            <div>
              <p class="dia">martes</p>
            <div class="grados">25°</div>
            </div>
            <div class="iconoclima"><img src="" alt="" /></div>
          </div>
          <div lugar>Santa Cruz de la Sierra</div>
        </div>
        <div class="humedadyviento">
          <div class="humedad">Humedad: 50</div>
          <div class="humedad">Viento: 30</div>

        </div>
      </div>
      <div class="info-side">
        <div class="week">
          <div class="week-cont">
            <div class="day">
              <p>lunes</p>
              <div class="tdia">30°</div>
              <imgdia><img src="" alt=""></imgdia>
            </div>
            <div class="day">
              <p>martes</p>
              <div class="tdia">30°</div>
              <imgdia><img src="" alt=""></imgdia>
            </div>
            <div class="day">
              <p>miercoles</p>
              <div class="tdia">22°</div>
              <imgdia><img src="" alt=""></imgdia>
            </div>
            <div class="day">
              <p>jueves</p>
              <div class="tdia">17°</div>
              <imgdia><img src="" alt=""></imgdia>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
