<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css.css" />
  </head>
  <body>
    <div class="weather-card">
      <div class="weather-side">
        <div class="today">
          <div class="clima-icono">
            <div class="grados">25°</div>
            <div class="iconoclima"><img src="" alt="" /></div>
          </div>

          <div lugar>Santa Cruz de la Sierra</div>
        </div>
        <div class="humedadyviento">
          <div class="humedad">50</div>
        </div>
      </div>
      <div class="info-side"></div>
    </div>
  </body>
</html>
