*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* border: 1px solid black; */
  margin: 0;

  padding: 0;
  box-sizing: border-box;  
}
.weather-card{
  /* border: 1px solid black; */
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto ;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.climahead{
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.climafood{
  gap: 20px;
  height: 100px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: auto;
  
  scrollbar-color: rgb(125, 125, 125) rgba(255, 255, 255, 0);
}


.weather-side{
  gap: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  border-radius: 40px;
background: #fafafa;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.info-side{
  padding: 20px;
  height: 30%;
  border-radius: 40px;
background: #fafafa;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
.today{
  width: 60%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.clima-icono{
  display: flex;
  justify-content: center;
  align-items: center;
}
.grados{
  margin: auto;
  font-size: 3rem;
}
.iconoclima{
  width: 100px;
  height: 100px;
}
img{
  width: 100%;
}
/* .lugar{} */
.humedadyviento
{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  width: 40%;
  
}

.week{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.week-cont{
display: flex;
gap: 10px;
}
.day{
  width: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgdia{
  width: 45px;
  height: 45px;
}
.imgday img{
  width: 100%;
}
